body {
    font-family: "Times New Roman", Tahoma;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 45px;    /*ESPAÇO ENTRE OS CARDS*/
}

.card {
    flex-basis: calc(100%/3 - 20px);
    background-color: hsl(278, 96%, 63%);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 7px 4px rgba(101, 2, 163, 0.785), 5px 5px 10px #73159f;
    height: 200px;
    margin-top: 30px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-top: 10px 0;
}

button {
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 4px 4px 23px 4px #efcbfd;
}

ul li {
    text-decoration: none;
}