<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos da Fatec Sorocaba</title>
</head>
<body>
    <h1>Cursos Disponíveis na Fatec Sorocaba</h1>
    <br>

    <ul>
        <li>Análise e Desenvolvimento de Sistemas</li>
        <li>Desenvolvimento de Sistemas – AMS</li>
        <li>Eletrônica Automotiva</li>
        <li>Fabricação Mecânica</li>
        <li>Gestão da Qualidade</li>
        <li>Gestão Empresarial – EAD</li>
        <li>Logística</li>
        <li>Logística – AMS</li>
        <li>Manufatura Avançada</li>
        <li>Manutenção de Aeronaves</li>
        <li>Polímeros</li>
        <li>Processos Metalúrgicos</li>
        <li>Projetos Mecânicos</li>
        <li>Sistemas Biomédicos</li>
    </ul>		

</body>
</html>