<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História da Fatec Sorocaba</title>
</head>

<body>
    <h1>História da Fatec Sorocaba</h1>
    <br><br>
    <p>A Fatec Sorocaba, criada em 1970, é um marco do ensino tecnológico no estado de São Paulo. A instituição foi a
        primeira escola pública de nível superior em Sorocaba e a primeira FATEC do estado. Desde suas origens, a Fatec
        Sorocaba tem contribuído significativamente para a formação de tecnólogos e para o desenvolvimento econômico da
        cidade. A faculdade tem um campus que inclui 20 mil m² de Mata Atlântica, um dos últimos remanescentes deste
        tipo de vegetação em toda a cidade.</p>
</body>

</html>