<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professores da Fatec</title>
</head>
<body>
    <h1>Professores que trabalham na Fatec Sorocaba</h1>
    <br><br>
    <ul>
        <li>Ana Carolina</li>
        <li>Cesar</li>
        <li>Denilce</li>
        <li>Dimas</li>
        <li>Jeff</li>
        <li>Maria Angélica</li>
    </ul>
</body>
</html>